<!DOCTYPE html>
<html>
    <head>
        <title>AG website</title>
        <style>
            h1 {
                font-size: 120px;
                font-family: 'Yatra One';
                font-weight: bolder;
                color:rgb(0,0,0);
                text-align: center;
            }

            #banner {
                width: 100%;
                height: 360px;
                object-fit:cover;

            }

            #container {
                max-width: 800px;
                margin: 0 auto 0 auto;

            }

            .bodytext {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(200,0,0);

            }
        </style>

    </head>
    <body>
        <div id="container">
            <h1>
                Alok
            </h1>
            <img id="banner" src="http://localhost:5000/static/images/AG shots/DSC00844.JPG" alt="ag_iceland">
            <h2>
                About Alok
            </h2>
            <p class="bodytext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis. Suspendisse sed nisi lacus sed. Justo eget magna fermentum iaculis. Fringilla est ullamcorper eget nulla facilisi etiam. Ut enim blandit volutpat maecenas volutpat blandit aliquam. Sed elementum tempus egestas sed sed risus pretium quam vulputate. Quisque non tellus orci ac auctor. Volutpat consequat mauris nunc congue nisi vitae. Magna sit amet purus gravida quis. Netus et malesuada fames ac turpis egestas sed tempus urna.

                Ut etiam sit amet nisl purus in mollis. Sed augue lacus viverra vitae congue eu. Ut consequat semper viverra nam libero justo laoreet sit amet. Proin fermentum leo vel orci porta. Pretium quam vulputate dignissim suspendisse in est ante. Scelerisque viverra mauris in aliquam sem fringilla ut. Nunc sed blandit libero volutpat. Neque egestas congue quisque egestas diam. Ac turpis egestas maecenas pharetra convallis posuere morbi leo urna. Eget gravida cum sociis natoque penatibus et.

                At risus viverra adipiscing at in tellus. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus. Nunc scelerisque viverra mauris in aliquam sem fringilla. Dictum non consectetur a erat. Sit amet venenatis urna cursus eget nunc. Dui id ornare arcu odio ut. Amet nisl purus in mollis nunc sed id semper. Rutrum tellus pellentesque eu tincidunt tortor aliquam. Auctor eu augue ut lectus arcu bibendum at varius vel. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris pellentesque. Nunc sed id semper risus in hendrerit gravida. Diam vulputate ut pharetra sit amet aliquam. Suspendisse sed nisi lacus sed viverra tellus in hac. Habitasse platea dictumst quisque sagittis.

                Metus aliquam eleifend mi in nulla posuere sollicitudin. Nulla facilisi morbi tempus iaculis urna id volutpat lacus. Ultrices in iaculis nunc sed augue lacus viverra vitae congue. Id venenatis a condimentum vitae. Ultrices gravida dictum fusce ut placerat orci. Et molestie ac feugiat sed lectus. Dolor magna eget est lorem ipsum dolor. Ut sem viverra aliquet eget sit. Nisl nunc mi ipsum faucibus vitae aliquet nec. Odio facilisis mauris sit amet massa vitae tortor. Amet porttitor eget dolor morbi. Neque convallis a cras semper auctor neque vitae. Velit scelerisque in dictum non. Gravida dictum fusce ut placerat orci nulla pellentesque. Diam quam nulla porttitor massa id neque.

                Mauris pharetra et ultrices neque ornare aenean euismod. Pharetra massa massa ultricies mi quis hendrerit dolor. Praesent semper feugiat nibh sed pulvinar proin. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Elit sed vulputate mi sit amet mauris commodo quis. Et malesuada fames ac turpis. Neque sodales ut etiam sit amet. Arcu cursus euismod quis viverra nibh cras pulvinar mattis nunc. Felis eget velit aliquet sagittis id consectetur purus ut. Lacus vestibulum sed arcu non odio euismod lacinia. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras.
            </p>
            <div style="text-align: center;">
                <button>
                    Get in touch
                </button>               
            </div>
            <p>
                Copyright 2024, AG
            </p>
        </div>
    </body>
</html>
